openapi: 3.1.0
info:
  title: Lyrics Classifier API
  description: "Microservi\xE7o para classifica\xE7\xE3o de g\xEAnero musical de acordo\
    \ com a letra."
  version: 1.0.0
paths:
  /health:
    get:
      summary: Health Check
      operationId: health_check_health_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
  /predict:
    post:
      summary: Predict
      operationId: predict_predict_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MusicRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PredictionResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    MusicRequest:
      properties:
        lyrics:
          type: string
          minLength: 10
          title: Lyrics
          description: "A letra da m\xFAsica a ser classificada"
          example: Eu sei que vou te amar, por toda a minha vida...
      type: object
      required:
      - lyrics
      title: MusicRequest
    PredictionResponse:
      properties:
        genre:
          type: string
          title: Genre
        confidence:
          type: number
          title: Confidence
        input_preview:
          type: string
          title: Input Preview
        model_version:
          type: string
          title: Model Version
          default: 1.0.0
      type: object
      required:
      - genre
      - confidence
      - input_preview
      title: PredictionResponse
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
